body{
    background-color: #03045E;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
main{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 
p{
    color: #CAF0F8;
    font: bold 20px 'Inria Serif', serif;
}
 
a{
    text-decoration: none;
}
 
header{
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #023E8A;
    height: 80px;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px #023E8A;
}
 
header p{
    margin: 0px;
    font-family: 'Inria Serif', serif;
}
 
nav{
    margin: auto;
    background-color: #0096C7;
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
 
#navigacio p{
    color: #023E8A;
}
 
#navigacio{
    background-color: #FFFCF7;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
 
#bemutatkozas{
    background-color: #023E8A;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    box-shadow: 0px 0px 10px 1px #023E8A;
}
 
#bemutatkozas img{
    margin: 20px;
    width: 200px;
    height: 200px;
}
 
#bemutatkozas p{
    display: flex;
    width: auto;
    height: 200px;
    margin: 20px;
}
 
#keszsegek{
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#keszsegek img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
 
#kartya{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #F8F3DF;
    width: 15%;
    height: 200px;
    border-radius: 15px;
}
 
#kartya p{
    color: #023E8A;
    font: italic bold 20px Arial, sans-serif;
}
 
#navigacio:hover {
    width: 19%;
    transition: 0.1s;
}
 
#kartya:hover {
    width: 16%;
    height: 210px;
    transition: 0.6s;
    box-shadow: 0px 0px 20px 4px #023E8A;
}

@media (max-width: 800px){
    main{
        background-color: #CAF0F8;
    }

    nav{
        display: flex;
        flex-direction: column;
        height: auto;
    }
}