body{
    background-color: #03045E;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
main{
    width: 1200px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 
p{
    color: #CAF0F8;
    font: bold 20px 'Inria Serif', serif;
}
 
a{
    text-decoration: none;
}
 
header{
    background-color: #023E8A;
    height: auto;
    border-radius: 30px;
    margin: 10px;
        box-shadow: 0px 0px 10px 1px #023E8A;
}
 
header p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inria Serif', serif;
}
 
nav{
    margin: auto;
    background-color: #0096C7;
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
 
#navigacio p{
    color: #023E8A;
}
 
#navigacio{
    background-color: #FFFCF7;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
 
#bemutatkozas{
    background-color: #023E8A;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    box-shadow: 0px 0px 10px 1px #023E8A;
}
 
#bemutatkozas img{
    margin: 20px;
    width: 200px;
    height: 200px;
}
 
#bemutatkozas p{
    display: flex;
    width: auto;
    height: 200px;
}
